*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

header{
    background-color: #ff6900;
}

/*CREARE UN CONTENITORE IN LARGHEZZA CON MARGINE AUTO
 PER TUTTI (HEADER, MAIN, FOOTER)*/
.contain{
    max-width: 1100px;
    margin: 0 auto;
}

/*clearflix*/

.flex{
    display: flex;
}

.flex-space-bet{
    justify-content: space-between;
}

/*colors*/

.font-white{
    color: white;
}

.font-black{
    color: black;
}

.font-gray{
    color: #606060;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

/*solo per prova dopo andranno tolti*/

.sfondo{
    background-color: red;
}

.trat{
    border: 3px black solid;
}

.quadrato{
    width: 50px;
    height: 50px;
    background-color: lime;
    border: black 2px dashed;
}